<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>23G93</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Quick Look Previewing</string>
	<key>CFBundleExecutable</key>
	<string>Nova Quick Look Previewing</string>
	<key>CFBundleIdentifier</key>
	<string>com.panic.Nova.NovaQuickLookPreview</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Nova Quick Look Previewing</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>12</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>14.5</string>
	<key>DTSDKBuild</key>
	<string>23F73</string>
	<key>DTSDKName</key>
	<string>macosx14.5</string>
	<key>DTXcode</key>
	<string>1540</string>
	<key>DTXcodeBuild</key>
	<string>15F31d</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>com.netscape.javascript-source</string>
				<string>public.jsx-source</string>
				<string>public.ejs-source</string>
				<string>public.shell-script</string>
				<string>public.perl-script</string>
				<string>public.python-script</string>
				<string>public.ruby-script</string>
				<string>public.erb-source</string>
				<string>public.php-script</string>
				<string>public.lua-script</string>
				<string>public.scheme-source</string>
				<string>com.microsoft.typescript</string>
				<string>public.tsx-source</string>
				<string>public.html</string>
				<string>public.css</string>
				<string>public.less</string>
				<string>public.sass</string>
				<string>public.scss</string>
				<string>public.ini</string>
				<string>public.json</string>
				<string>public.patch-file</string>
				<string>public.sql</string>
				<string>public.yaml</string>
				<string>public.xml</string>
				<string>net.daringfireball.markdown</string>
			</array>
			<key>QLSupportsSearchableItems</key>
			<false/>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.preview</string>
		<key>NSExtensionPrincipalClass</key>
		<string>NovaQuickLookPreviewViewController</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2020–2024 Panic Inc. All rights reserved.</string>
</dict>
</plist>
